.overview {
	width: 100%;
	background: url(/assets/design/overview-background.png) no-repeat center top;
	min-height: 1100px;
	text-align: center;
	padding: 230px 50px 50px 50px;
	h2 {
		max-width: 782px;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
		color: #E37222;
		font-size: 50px;
		margin-bottom: 70px;
	}//h2
	.apps {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 80px;
		.app {
			width: 352px;
			color: $black;
			img {
				margin-bottom: 14px;
			}//img
			&.zapier {
				img {
					margin-bottom: 0px;
				}
			}//&.zapier
		}//app
		
	}//apps
	p.details {
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
		font-size: 30px;
		color: #08899E;
		margin-bottom: 70px;
	}//p.details
	a.button.hollow {
		color: #08899E;
		font-size: 28px;
		text-transform: uppercase;
		border: 3px solid #08899E;
	}//a.button.hollow
}//overview